<div>
  <div class="mt-8 text-center">
    <img
      src="../../../../assets/img/mainLogo.png"
      alt=""
      class="w-10 h-10 m-auto rounded-full object-cover lg:w-28 lg:h-28" />
    <h5 class="mt-4 text-xl font-semibold text-gray-600 lg:block">{{ user() }}</h5>
    <span class="text-gray-400 lg:block">Admin</span>
  </div>

  <ul class="space-y-2 tracking-wide mt-8">
    <li class="flex justify-center">
      <button
        onclick="my_modal_1.showModal()"
        aria-label="crear nueva cita"
        class="btn relative px-4 py-3 flex items-center space-x-4 rounded-xl text-black bg-gradient-to-r from-custom-pastel-pink to-white-400">
        <svg class="-ml-1 h-6 w-6" viewBox="0 0 24 24" fill="none">
          <path
            d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z"
            class="fill-current text-pink-400 dark:fill-slate-600"></path>
          <path
            d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z"
            class="fill-current text-pink-200 group-hover:text-pink-300"></path>
          <path
            d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z"
            class="fill-current group-hover:text-pink-300"></path>
        </svg>
        <span class="-mr-1 font-medium">Crear nueva cita</span>
      </button>
    </li>
  </ul>
</div>
<div class="px-6 -mx-6 pt-4 flex justify-between items-center border-t">
  <button (click)="logout()" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
    </svg>
    <span class="group-hover:text-gray-700">Logout</span>
  </button>
</div>
<!-- </aside> -->
<!-- Modal -->
<dialog id="my_modal_1" class="modal">
  <div class="modal-box flex w-full">
    <div class="modal-action w-full">
      <form [formGroup]="createClientForm" method="dialog" class="w-full">
        <!-- component -->
        <div class="px-8 py-6">
          <label for="" class="block font-semibold"> Nombre *</label>
          <input
            required
            formControlName="name"
            type="text"
            placeholder="Nombre"
            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" />
          <label for="" class="block mt-3 font-semibold"> Teléfono *</label>
          <input
            formControlName="phone"
            type="tel"
            placeholder="Teléfono"
            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" />
          <label for="" class="block mt-3 font-semibold"> Fecha * </label>
          <input
            required
            formControlName="appointment_date"
            type="datetime-local"
            placeholder="Fecha"
            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" />
          <div class="flex justify-end gap-2 items-baseline">
            <button (click)="isSidebarVisible.set(false)" class="btn mt-4 text-black py-2 px-6 rounded-md">
              Cancelar
            </button>
            <button
              (click)="submitClientForm()"
              [disabled]="createClientForm.invalid"
              type="submit"
              class="btn cursor-pointer mt-4 bg-custom-pastel-pink text-black py-2 px-6 rounded-md">
              Crear Cita
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</dialog>
