#title {
  font-family: 'BeautyWind Sans', sans-serif;
}

#white-navbar {
  position: sticky;
  top: 0;
  z-index: 99999;
  height: fit-content;
}

#texto-slogan-one, #texto-slogan-two, .service-title {
  font-family: 'KaushanScript Sans';
}

/* * MAIN one text */
@keyframes appearAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes imgSlide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#texto-slogan-one, #texto-slogan-two {
  animation: appearAndSlide 5s ease-out;
}

#texto-slogan-one {
  translate: -1rem -2rem;
}

#texto-slogan-two {
  translate: 1rem -1rem;
}

@media screen and (min-width: 768px) {
  .div-text-Header {
    translate: 10rem 5rem;
    width: 500px;
    font-size: xx-large;
  }
  #texto-slogan-one {
    translate: -6rem -7rem;
  }

  #texto-slogan-two {
    translate: -5rem -4rem;
  }
}

@media screen and (min-width: 1200px) {
  .div-text-Header {
    translate: 10rem 8rem;
    width: 800px;
    font-size: 50px;
  }
  .girl-img-long {
    translate: -30rem 50rem;
  }
  .girl-img-long {
    animation:  imgSlide 5s ease-out;
    translate: -20rem 10rem;
  }

  .bg-girl {
    translate: -30rem -20rem;
    height: 600px;
    width: 800px;
  }
  .text-client{
    translate: 20rem -35rem;
    font-size: 20px;
  }
}
