#title {
  font-family: 'BeautyWind Sans', sans-serif;
}

#whiteNavbar {
  position: sticky;
  top: 0;
  z-index: 10;
  height: fit-content;
}

#textoSloganOne, #textoSloganTwo {
  font-family: 'KaushanScript Sans';
}

/* * MAIN one text */
@keyframes appearAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#textoSloganOne, #textoSloganTwo {
  animation: appearAndSlide 5s ease-out;
}

#textoSloganOne {
  translate: -6rem 1rem;
}

#textoSloganTwo {
  translate: -3.2rem 2.4rem;
}

@media screen and (min-width: 768px) {
  .divTextHeader {
    translate: 17rem 5rem;
    width: 300px;
    font-size: xx-large;
  }
  #textoSloganOne {
    translate: -10rem 1rem;
  }

  #textoSloganTwo {
    translate: -5rem 3rem;
  }
}
