#title {
  font-family: 'BeautyWind Sans', sans-serif;
}
.roboto {
  font-family: 'Roboto-regular', sans-serif;
}

#white-navbar {
  position: sticky;
  top: 0;
  z-index: 99999;
  height: fit-content;
}

#texto-slogan-one, #texto-slogan-two, .service-title {
  font-family: 'KaushanScript Sans';
}

/* * MAIN one text */
@keyframes appearAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearAndSlideRightToleft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes imgSlide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#texto-slogan-one {
  animation: appearAndSlide 5s ease-out;
}
#texto-slogan-two {
  animation: appearAndSlideRightToleft 5s ease-out;
}

/* * Mobile */
#texto-slogan-one {
  font-size: 24px;
  font-weight: 500;
  translate: -8rem -31.5rem;
}

#texto-slogan-two {
  font-size: 24px;
  font-weight: 500;
  translate: -2rem -30rem;
}
@media screen and (min-width: 768px) {
  .div-text-Header {
    font-size: xx-large;
    translate: 10rem 5rem;
    width: 500px;
    font-size: 20px;
  }

  #texto-slogan-one {
    translate: 2rem -48rem;
  }

  #texto-slogan-two {
    translate: 14rem -45rem;
  }
}

/* ? 1024 */
@media screen and (min-width: 1024px) {
  .div-text-Header {
    font-size: xx-large;
    translate: 10rem 5rem;
    width: 500px;
  }

  #texto-slogan-one {
    translate: -6rem -50rem;
  }

  #texto-slogan-two {
    translate: -5rem -4rem;
  }

  .container-girl-text {
    height: 600px;
  }

  .bg-girl {
    translate: -20rem -25rem ;
    max-width: 900px;
  }

  .text-client{
    translate: 15rem -42rem;
    font-size: 20px;
    max-width: 500px;
  }
}
/*! 1200px */
@media screen and (min-width: 1200px) {
  .div-text-Header {
    translate: 10rem 8rem;
    width: 900px;
    font-size: 50px;
  }

  #texto-slogan-one {
    translate: 2rem -48rem;
  }

  #texto-slogan-two {
    translate: 14rem -45rem;
  }

  .container-girl-text {
    height: 800px;
  }

  /* .girl-img-long {
    translate: -30rem 50rem;
  } */
  .girl-img-long {
    animation:  imgSlide 5s ease-out;
    translate: -20rem 10rem;
  }

  .bg-girl {
    translate: -25rem -20rem;
    height: 600px;
    width: 800px;
  }
  .text-client{
    translate: 20rem -40rem;
    font-size: 20px;
  }
}
