<header id="targetHome" class="roboto flex w-screen h-12 text-xs sm:text-sm top-0">
  <div class="flex w-full justify-evenly items-center">
    <div class="flex gap-1">
      <strong>Teléfono:</strong>
      <a href="tel:644-038-254">644038254</a>
    </div>
    <div class="flex gap-1">
      <strong>Horario:</strong>
      <p>Lunes-Viernes: 9h a 14h</p>
    </div>
    <div #socilIcons class="hidden sm:flex gap-4">
      <div class="sm:hover:text-[color:green] cursor-pointer">
        <!-- Whatsapp -->
        <a aria-label="Chat on WhatsApp" href="https://wa.me/+34644038254">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891
            3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893
            11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592
            5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001
            2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z" />
          </svg>
        </a>
      </div>
      <div class="hover:text-[color:pink] cursor-pointer">
        <!-- Instagram -->
        <a href="https://www.instagram.com/diana.garcia.estetica/">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069
            4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204
            0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849
            0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069
            4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073
            4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014
            4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- * White Navbar -->
<div id="white-navbar" class="roboto navbar bg-base-100 border-b-[1px]">
  <div class="navbar-start">
    <div class="dropdown">
      <label for="" tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-7 w-7"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </label>
      <!-- ? Hamburguer Menu -->
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <button
            id="scrollToHome"
            (click)="handleAutoScrollAndFocus('scrollToHome', 'targetHome')"
            class="text-[18px]">
            Home
          </button>
        </li>
        <li>
          <button
            id="scrollToServices"
            (click)="handleAutoScrollAndFocus('scrollToServices', 'targetServices')"
            class="text-[18px]">
            Servicios
          </button>
        </li>
        <li>
          <button
            id="scrollToContact"
            (click)="handleAutoScrollAndFocus('scrollToContact', 'targetContact')"
            class="text-[18px]">
            Contacto
          </button>
        </li>
      </ul>
    </div>
    <a class="cursor-pointer"
      ><img
        class="md:inline sm:rounded-full lg:ml-8 hidden"
        src="../../assets/img/mainLogo.png"
        width="50"
        height="50"
        alt="icon"
    /></a>
  </div>
  <!-- ? Normal menu bar -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <button id="scrollToHome" (click)="handleAutoScrollAndFocus('scrollToServices', 'targetHome')">
          Home
        </button>
      </li>
      <li>
        <button
          id="scrollToServices"
          (click)="handleAutoScrollAndFocus('scrollToServices', 'targetServices')">
          Servicios
        </button>
      </li>
      <li>
        <button id="scrollToContact" (click)="handleAutoScrollAndFocus('scrollToContact', 'targetContact')">
          Contacto
        </button>
      </li>
    </ul>
  </div>
  <h1 id="title" class="lg:hidden text-[28px] font-bold w-full justify-center">Diana Garcia</h1>
  <div class="navbar-end">
    <a class="cursor-pointer"
      ><img
        class="sm:inline sm:rounded-full mr-8 lg:ml-8 hidden md:hidden"
        src="../../assets/img/mainLogo.png"
        width="50"
        height="50"
        alt="icon"
    /></a>
  </div>
</div>
<!--* MAIN -->
<main class="roboto row-span-2">
  <!-- Top -->
  <div class="w-screen h-auto">
    <div class="opacity-75 w-full h-[50rem]">
      <img src="../../assets/img/background/face-top.png" alt="..." class="w-full h-full object-cover" />
    </div>

      <div class="h-full w-full">
        <div class="flex w-full justify-center">
          <!-- <div class="div-text-Header">
            <span id="texto-slogan-one" class="absolute"> Salón de Belleza </span>
            <span id="texto-slogan-two" class="absolute"> Diana García </span>
          </div> -->
        </div>
      </div>
  </div>
  <!-- TOP -->
  <div class="container-girl-text bg-base-100 w-full h-auto flex flex-col items-center mb-20">
    <div class="h-auto">
      <!-- IMG GIRL -->
      <img
        class="girl-img-small h-auto w-60 lg:hidden shadow-lg bg-gradient-to-r from-custom-pastel-pink to-gray-200 rounded-md"
        src="../../assets/img/girl-noBG-preview.png"
        alt="..." />
      <img
        class="girl-img-long hidden girlImg h-auto w-auto lg:flex lg:h-[500px] relative z-10"
        src="../../assets/img/girl-noBG-preview.png"
        alt="..." />
      <div>
        <img
          class="bg-girl hidden z-0 lg:flex relative"
          src="../../assets/img/background/brushbg.png"
          alt="..." />
      </div>
    </div>
    <!-- TEXT CLIENTS -->
    <div class="text-client text-left p-6">
      <h1 class="service-title text-left text-3xl font-bold">Por qué nuestros clientes nos eligen</h1>
      <p class="text-gray-400 max-w-xs lg:max-w-[50rem] mt-4">
        Experimenta la elegancia y el bienestar en nuestro salón de uñas, donde utilizamos productos orgánicos
        y técnicas especializadas para realzar tu belleza natural. Ofrecemos servicios personalizados y un
        ambiente relajante para una experiencia única de cuidado personal.
      </p>
    </div>
  </div>
  <!--? SERVICES -->
  <div class="h-fit bg-[#f4f4f4]">
    <div class="p-5">
      <!-- First row services -->
      <div class="sm:flex sm:justify-evenly sm:flex-row sm:gap-1 flex flex-col gap-4">
        <div class="flex flex-wrap flex-col items-center">
          <div class="px-4 flex justify-center">
            <img
              class="rounded-full w-24 h-24 sm:w-40 sm:h-40"
              src="../../assets/img/service-img/handRounded.png"
              alt="..." />
          </div>
          <p class="service-title">Manicura</p>
          <p class="text-gray-400 max-w-xs text-center">
            La manicura ofrece una renovación completa de las uñas, con un pulido adicional para realzar su
            apariencia.
          </p>
        </div>
        <!-- PEDICURE -->
        <div class="flex flex-wrap flex-col items-center">
          <div class="px-4 flex justify-center">
            <img
              class="rounded-full w-24 h-24 sm:w-40 sm:h-40 opacity-[0.77]"
              src="../../assets/img/service-img/pedicureRounded.png"
              alt="..." />
          </div>
          <div id="targetServices"></div>
          <p class="service-title">Pedicura</p>
          <p class="text-gray-400 max-w-xs text-center">
            La pedicura renueva y embellece los pies mediante un tratamiento que incluye limpieza, exfoliación
            y cuidado, ofreciendo una apariencia fresca y saludable.
          </p>
        </div>
      </div>
      <!-- Second row service -->
      <div class="sm:flex sm:justify-evenly sm:flex-row sm:gap-1 flex flex-col gap-4 mt-5">
        <div class="flex flex-wrap flex-col items-center">
          <div class="px-4 flex justify-center">
            <img
              class="rounded-full w-24 h-24 sm:w-40 sm:h-40"
              src="../../assets/img/service-img/eyeRounded.png"
              alt="..." />
          </div>
          <p class="service-title">Lifting de pestañas</p>
          <p class="text-gray-400 max-w-xs text-center">
            El lifting de pestañas realza la curvatura y longitud natural de las pestañas, proporcionando una
            mirada más expresiva y duradera.
          </p>
        </div>
        <div class="flex flex-wrap flex-col items-center">
          <div class="px-4 flex justify-center">
            <img
              class="rounded-full w-24 h-24 sm:w-40 sm:h-40"
              src="../../assets/img/service-img/facialCareRounded.png"
              alt="..." />
          </div>
          <p class="service-title">Higiene Facial</p>
          <p class="text-gray-400 max-w-xs text-center">
            La higiene facial revitaliza la piel mediante un tratamiento que limpia, exfolia y nutre,
            proporcionando un aspecto fresco y saludable.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full h-auto">
    <img src="../../assets/img/footer-img/cosmetics-2746013_1920.jpg" class="w-full" alt="" />
  </div>
</main>
<!--* FOOTER -->
<footer
  class="flex flex-col sm:flex-row md:grid-cols-10 footer p-12 bg-base-100 text-base-content sm:justify-evenly">
  <!-- Services -->
  <nav class="roboto">
    <header class="footer-title">Servicios</header>
    <p>Manicura</p>
    <p>Pedicura</p>
    <p>Lifting de pestañas</p>
    <p>Higiene facial</p>
    <p>Y más...</p>
  </nav>
  <!-- Where we are -->
  <nav class="roboto">
    <p class="footer-title">Donde estamos:</p>
    <p class="grid grid-flow-col">
      <!-- map icon -->
      <a class="translate-y-[-0.5rem]"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg> </a
      >Calle alicante privada, 5 bajo, 46520 Port de Sagunt, Valencia
    </p>
  </nav>
  <!-- Contact -->
  <nav id="targetContact" class="robot">
    <header class="footer-title">Contacto</header>
    <p>Tlf:</p>
    <strong>
      <a href="tel:644-038-254">644038254</a>
    </strong>
    <div class="grid grid-flow-col gap-4 mt-5">
      <!-- Whatsapp -->
      <a aria-label="Chat on WhatsApp" href="https://wa.me/+34644038254">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556
               5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248
                3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995
                 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452
                  0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z" />
        </svg>
      </a>
      <!-- Instagram -->
      <a href="https://www.instagram.com/diana.garcia.estetica/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058
               1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664
               4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849
               0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059
                1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
        </svg>
      </a>
    </div>
  </nav>
</footer>
